docling-models/**/*.safetensors filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.7z filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.arrow filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.bin filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.bz2 filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.ckpt filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.ftz filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.gz filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.h5 filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.joblib filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.lfs.* filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.mlmodel filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.model filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.msgpack filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.npy filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.npz filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.onnx filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.ot filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.parquet filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.pb filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.pickle filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.pkl filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.pt filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.pth filter=lfs diff=lfs merge=lfs -text
docling-models/**/*.rar filter=lfs diff=lfs merge=lfs -text
